<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dhoni</title>
</head>
<body>
    <h1>M.S DHONI BIOGRAPHY</h1>
    <h2>Mahendra Singh Dhoni, commonly known as MS Dhoni, is a former Indian cricketer. 
        Widely considered one of the greatest captain and Wicket-keeper-batsman in history of cricket as well as a best finisher. Wikipedia
        Born: 7 July 1981 (age 41 years), Ranchi
        Dates joined: 2018 (Chennai Super Kings), MORE
        Spouse: Sakshi Dhoni (m. 2010)
        Parents: Pan Singh Dhoni, Devaki Devi
        Siblings: Narendra Singh Dhoni, Jayanti Gupta
        Height: 1.8 m
        Current team: Chennai Super Kings (Wicket-keeper)</h2>
    
</body>
</html>