<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>virat</title>
</head>
<body>
    <h1>VIRAT KHOLI BIOGRAPHY</h1>
    <h2>The Young and talented right-handed batsman, Virat Kohli was born on the 5th of November in 1988 in Delhi.
         His father was Prem Kohli and his mother Saroj Kohli. 
         His father worked as a lawyer and he passed away in December 19th, 2006 due to brain stroke.
          Virat has an elder brother, Vikash and an elder sister, Bhavna.
           He had his schooling in St. Sofia School in Paschim Vihar, Delhi.
        Virat Kohli was among the first intake of The West Delhi Cricket Academy which was created in 1998.
         Virat was included in the Delhi Ranji team on 23rd November 2006.
          He played his first match against Tamil Nadu.
           Virat became famous when he played for Delhi in the Ranji trophy, a match against Karnataka. 
           He scored 90 in that match. On that day only (19th December 2006), at 3 o’clock in the morning,
            his dad passed away due to brain stroke.</h2>
</body>
</html>